@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0e0f10] text-white;
  }
}

@layer components {
  .favorite-button-icon {
    @apply transition-all duration-300;
    will-change: transform, opacity;
  }

  .favorite-button-icon.animate {
    animation: iconSwitch 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  }
}

@keyframes iconSwitch {
  0% {
    opacity: 1;
    transform: scale(1) rotateZ(0deg);
  }
  50% {
    opacity: 0;
    transform: scale(0.7) rotateZ(90deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateZ(0deg);
  }
}
